@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


$primary-color: #74c69d;
$secondary-color: #ffffff;
$tertiary-color: #40916c;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $primary-color;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

.header {
    color: $secondary-color;
    text-align: center;

    h1 {
        font-size: 3rem;
        margin-top: 3rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    h2 {
        font-weight: 300;
        letter-spacing: 0.1rem;
    }
}

.controls {
    margin: 3rem auto 1rem;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
    font-family: 'Raleway', Arial, sans-serif;
    transition: all 0.3s;
}

.star-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {

    &::after {
        content: 's';
    }
}

.refresh {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        color: #273469;
    }
}

.moves-container {
    margin-left: 1rem;
}

.game-start-btn {
    width: fit-content;
    border: 1px solid $secondary-color;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
}

.game-start-btn:hover {
    background: $secondary-color;
    color: $primary-color;
    cursor: pointer;
}

.hide-start-btn {
    display: none;
}

.hidden {
    display: none;
}

.deck {
    margin: 3vh auto 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 660px;
    min-height: 600px;
}

.card {
    list-style: none;
    width: 130px;
    height: 130px;
    color: $secondary-color;
    background: $primary-color;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    perspective: 500px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transform-origin: center;
    transition: all 0.5s;
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.card-face {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.front {
    background: $tertiary-color;
}

.back {
    background: $tertiary-color;
    transform: rotateY( 180deg );
}

.fab {
    font-size: 4rem;
    line-height: 1.9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container.flipped {
    transform: rotateY(180deg);
}

.cant-click-this {
    pointer-events: none;
}

.wrong {
    animation: wrong 0.3s ease-in-out;
}

@keyframes wrong {
    0% {
        transform: rotate(0);
    } 25% {
         transform: rotate(-5deg);
    } 50% {
         transform: rotate(0);
    } 75% {
        transform: rotate(5deg);
    } 100% {
         transform: rotate(0);
    }
}

.correct {
    animation: correct 0.3s ease-in-out;
}

@keyframes correct {
    0% {
        transform: scaleX(1) scaleY(1);
    } 50% {
        transform: scaleX(1.15) scaleY(1.1);
    } 100% {
        transform: scaleX(1) scaleY(1);
    }
}

.win {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FAFAFF;
    text-align: center;
    transition: all 0.3s;
}

.win h1 {
    color: $tertiary-color;
    font-size: 3.5rem;
    margin-top: 16rem;
}

.win h3 {
    margin-top: 1rem;
    font-family: 'helvetica', Arial, sans-serif;
    color: $tertiary-color;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.win p {
    margin-top: 1rem;
    font-family: 'helvetica', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 200;
    color: #aaa;
}

.replay {
    margin-top: 2rem;
    width: 150px;
    padding: 1rem;
    border-radius: 50px;
    background: $tertiary-color;
    border: none;
    color: #FAFAFF;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    transition: all 0.25s;
    outline: none;
}

.replay:hover {
    background: $tertiary-color;
}

.replay:active {
    background: rgb(22, 29, 53);
}

.win-screen {
    display: block;
     opacity: 1;
}

.star, .moves, .seconds {
    font-weight: bold;
}

@media  screen and (max-width: 650px) {


  .card {
      width: 120px;
      height: 120px;
  }

  .controls {
      width: 500px;
  }
}

@media  screen and (max-width: 525px) {

  .card {
      width: 100px;
      height: 100px;

  }

  .controls {
      width: 500px;
  }
}

@media  screen and (max-width: 450px) {

  .card {
      width: 90px;
      height: 90px;

  }

  .controls {
      width: 400px;
  }
}